<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Alumnos (Admin)</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .profile-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #0d6efd; /* Color primario de Bootstrap */
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <!--Aqui va un navbar -->
    <header id="header"></header>

    <main class="container mt-5 mb-4">
      <h1 class="mb-4 text-primary">Alumnos Registrados</h1>
      <hr />

      <div class="alert alert-primary d-none" role="alert" id="msg-alert">
      </div>

      <div
        id="alumnos-grid"
        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"
      >
        <!-- Aqui se van a insertar los alumnos -->
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/admin.home.js"></script>
  </body>
</html>
